
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-down-big:before { content: '\e805'; } /* '' */
.icon-left-big:before { content: '\e806'; } /* '' */
.icon-right-big:before { content: '\e807'; } /* '' */
.icon-up-big:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-cog-alt:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-music:before { content: '\e80c'; } /* '' */
.icon-videocam:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-up-open:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-android:before { content: '\e815'; } /* '' */
.icon-gplus:before { content: '\e816'; } /* '' */
.icon-call:before { content: '\e817'; } /* '' */
.icon-linkedin:before { content: '\e818'; } /* '' */
.icon-youtube:before { content: '\e819'; } /* '' */
.icon-windows:before { content: '\e81a'; } /* '' */
.icon-email:before { content: '\e81b'; } /* '' */
.icon-steam:before { content: '\e81c'; } /* '' */
.icon-gmail:before { content: '\e81d'; } /* '' */
.icon-facebook:before { content: '\e81e'; } /* '' */
.icon-cloudapp:before { content: '\e81f'; } /* '' */
.icon-github:before { content: '\e820'; } /* '' */
.icon-signal:before { content: '\e821'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-steam-1:before { content: '\f1b6'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */